/*Taken from Bootstrap Template (Bootstrap Website)*/

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  background-color: #f5f5f5;
}

.btn{
background-color: #3765b2f2!important;
}



.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    background: rgba(226, 226, 226, 0.46);
    padding-top: 5%;
    font-size: 20px;
    text-shadow: #e9e9e9 0px 0px 4px;
    font-weight: bold;
}

/*.input {
  background-color: rgba(255, 255, 255, 0.65);
}*/
.form-signin textarea{
  background-color: rgba(255, 255, 255, 0.8);
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/*End Bootstrap Template CSS*/

/*Custom Project CSS*/
body{
  margin:0;
}

.bg { 
    /* The image used */
    background-image: url("pict/pic.jpeg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top:4%;
}

#distance_slider{
  display: block;
  margin: auto;
  /* fron w3schools */
  -webkit-appearance: none; 
  width: 75%;
  height: 15px;
  border-radius: 5px;   
  outline: none; 
  background: #132b10;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#distance_slider::-webkit-slider-thumb{
 -webkit-appearance: none;
 appearance: none;
 width: 25px;
 height: 25px;
 border-radius: 50%; 
 background: #4CAF50;
 cursor: pointer;
}


#distance_span{
  color:#0a53b4;
}

#about{
  display: none;
}
