<form class="form-signin" *ngIf = "show_query">
	<div class="text-center mb-4">
		<h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
	</div>
	
	<div class="form-label-group">
		<div class = "text-center mb-4">Skiing, hiking, surfing and more: what would you like to do?
			<input [(ngModel)]= "query.activity" placeholder="activity" name="activity">
		</div>
		
	</div>

	<div class="form-label-group">
		<div class = "text-center mb-4">Paris, Barcelona, Hong Kong or maybe somewhere else: where would you like to go?
		<input [(ngModel)]= "query.location" placeholder="location" name="location"></div>
	</div>

	<div class="form-label-group">
		<div class = "text-center mb-4">Tropical, urban, or off-beat: describe away!
		<input [(ngModel)]= "query.description" placeholder="description" name="description"></div>
	</div>
	<button (click)= "onEntered()" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
</form>

<filter-view *ngIf = "!show_query"></filter-view>
