<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Where Next?</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/app.component.css">
    <link rel="stylesheet" href="/static/map_style.css">

    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/topojson.v2.min.js"></script>
    <!-- <script src="https://d3js.org/d3-geo.v1.min.js"></script> -->
    <!-- <script src="static/topojson.v2.min"></script> -->
    <script src="//d3js.org/d3-geo-projection.v2.min.js"></script>
    <!-- <script src="https://d3js.org/d3-color.v1.min.js"></script> -->
    <!-- <script src="https://d3js.org/d3-interpolate.v1.min.js"></script> -->
    <script src="//d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gaegu|Stylish" rel="stylesheet">
</head>
<body>

 {% if output_message %}

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavDropdown"> 
    <span class="navbar-toggler-icon"></span>
 </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      </li>
    </ul>
  </div>
</nav>
<div class="bg" alt="Responsive image">  
<form class="form-signin">
        <div class="text-center mb-4">
            	<h1 class="h3 mb-3 font-weight-normal">Where Next?</h1>
        </div>

        <div class="form-label-group">
            <div class = "text-center mb-4">Skiing, hiking, surfing and more:<br />what would you like to do?<br />
                <input id ="query.activity" placeholder="activity" name="activity">
            </div>
        </div>

        <div class="form-label-group">
            <div class = "text-center mb-4">Paris, Barcelona, Hong Kong or maybe somewhere else:<br />where would you like to go?<br />
                <input id = "query.location" placeholder="location" name="location">
            </div>
        </div>

        <div class="form-label-group">
            <div class = "text-center mb-4">Tropical, urban, or off-beat: describe away!<br />
                <input id = "query.description" placeholder="description" name="description">
            </div>
        </div>

        <div class="form-label-group">
            <div class = "text-center mb-4">Which version? V1 or V2:<br />
                <select name="version">
                    <option value="v1">v1</option>
                    <option value="v2">v2</option>
                </select>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
 </form>
</div>
<div id="about" class="container marketing">
<hr class="featurette-divider">
  <div class="col-md-7">
     <h2 class="featurette-heading">About Us. <span class="text-muted">A web application where people can find inspiration for their next travel!</span></h2>
     <p class="lead">Developed by Smit, Tatsuhiro, Noah, Judy and Jasmine on Heroku + Flask. </p>
  </div>
  <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../static/pict/generic.jpeg" alt="Generic placeholder image">
  </div>
</div>
<img src="https://source.unsplash.com/1600x900/?budapest, bulgaria">
</div>
    {% else %}

    <div id="info_modal">
        <span class="exit_crosses">X</span>
        <p>Place Name: <span id="modal_place_name_span"></span></p>
        <p>Description: <span id="modal_description_span"></span></p> 
        <p>Recommendations: <span id="modal_recommendations_span"></span></p>
    </div>
    <svg height="700" width="1200" id="svg_map">
        
    </svg>
    <ul class="list-group list-group-flush">
    <h1 class="h3 mb-3 font-weight-normal center">Results</h1>
        {% for result in results %}

            <li class="list-group-item result_rows">
                <h4>{{ result[0] }}</h4><br>
                <DL>
                <DT>What's Special?
                <DD>{{ result[2] }}
                <DT>Attraction recommendation:

                {% for recm in result[3] %}
                    <DD>{{recm[0].decode('utf-8')}}: {{recm[1].decode('utf-8')}}
                {% endfor %}
                </DL>
            </li>
        {% endfor %}
    </ul>

    <div class="btn btn-lg btn-primary btn-block" id="map_button">World Map!</div>


  <script type="text/javascript">var map_geo = {{map_geo|tojson}}</script>
  <script type="text/javascript">var results = {{results|tojson}}</script>
  <script type="text/javascript">var version = "{{version}}"</script>
  <script src="{{ url_for('static', filename='map_js.js' )}}"></script>
    {% endif %}

    </body>
</html>
