<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DemoDeploy</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/app.component.css">
</head>
<body>
    <form class="form-signin">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Travel App</h1>
        </div>

        <div class="form-label-group">
            <div class = "text-center mb-4">Skiing, hiking, surfing and more: what would you like to do?
                <input id ="query.activity" placeholder="activity" name="activity">
            </div>

        </div>

        <div class="form-label-group">
            <div class = "text-center mb-4">Paris, Barcelona, Hong Kong or maybe somewhere else: where would you like to go?
                <input id = "query.location" placeholder="location" name="location"></div>
            </div>

            <div class="form-label-group">
                <div class = "text-center mb-4">Tropical, urban, or off-beat: describe away!
                    <input id = "query.description" placeholder="description" name="description"></div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            </form>
        </body>
        </html>